{%extends "gym-routine-app/base.html" %}

{%block title%}Home{%endblock%}

{%block content%}
  <br>
  <h1 class="col-12 text-center text-success">Welcome to the world of Workouts!</h1>
  <h5 class="col-12 text-center">Here's all the shared workouts among users.</h5>
  <br>

  <div class="card-deck col-lg-12" style="overflow:auto;">
        <span class="col-1"></span>

        <div class="card col-2">
        <img class="card-img-top" src="{{ url_for('static', filename='images/pullup.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dan's Pullup Routine</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card col-2">
        <img class="card-img-top" src="{{ url_for('static', filename='images/pushup.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jenny's Pushup Routine</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
        </div>
      </div>

      <div class="card col-2">
        <img class="card-img-top" src="{{ url_for('static', filename='images/dip.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kenny's Dip Routine</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 20 mins ago</small></p>
        </div>
      </div>

        <span class="col-1"></span>

  </div>

{%endblock%}
